@page "/fetchdata"
@using ficc2025.Shared
@inject HttpClient Http

<PageTitle>FICC 2025</PageTitle>

<h1>Datapoints</h1>

<p>We analyze the macro picture, seeking to find mispricings and inflection points in the markets. When we do, we try to capitalize on them.
We assume that the market most of the time trends toward equilibrium, in other words that assets prices are priced according to the current market situation. We trade around the equilibrium when this is the situation, and seek to find inflection points, where disharmony occurs.
We focus on passion and execution.
Datapoints
Non-Farm Payroll Monthly report showing changes in U.S. jobs. Drives Fed policy and indicates economic growth.
Unemployment reports Presents U.S. unemployment rate as percentage. Drives Fed policy and indicates economy’s strength.
Earnings releases Lists changes in earnings of publicly traded companies, which can move the market
FOMC Determines U.S. monetary policy and whether to move the key interest rate. Drives stock market movements.
CPI (Consumer Price Index) Measures inflation or cost-of-living changes through average price of a basket of goods and services.
Federal Reserve open market operations Indicates the buying and selling of securities by U.S. central banks as a tool of monetary policy.
Inventory reports Tracks changes in oil and natural gas supplies. Impacts energy prices paid by consumers.
Industrial production Tracks change in monthly raw volume of industrial goods produced.
US ISM Non-Manufacturing Purchasing Managers Index (PMI) a composite index is calculated as an indicator of the overall economic condition for the non-manufacturing sector
US Treasury Auctions The U.S. Treasury regularly sells new U.S. treasuries at auction to finance public debt, which impacts supply and, in turn, price
US Housing data MBA Mortgage Applications Index and the Housing Starts and Building Permits
U.S. Existing Home Sales Existing Home Sales measures the change in the annualized number of existing residential buildings that were sold during the previous month. This report helps to gauge the strength of the U.S. housing market and is a key indicator of overall economic strength. A higher than expected reading should be taken as positive/bullish for the USD, while a lower than expected reading should be taken as negative/bearish for the USD.
IJC Initiall Jobless Claims, weekly data, the compounded of these numbers is a indication for the monthly NFP
Conference Board (CB) Conference Board (CB) Consumer Confidence measures the level of consumer confidence in economic activity. It is a leading indicator as it can predict consumer spending, which plays a major role in overall economic activity. Higher readings point to higher consumer optimism.</p>

