@page "/"

<PageTitle>FICC2025</PageTitle>

<h1>FICC 2025</h1>
<p>We analyze the macro picture, seeking to find mispricings and inflection points in the markets. When we do, we try to capitalize on them.
We assume that the market most of the time trends toward equilibrium, in other words that assets prices are priced according to the current market situation. We trade around the equilibrium when this is the situation, and seek to find inflection points, where disharmony occurs.
We focus on passion and execution.</p>




